<div class="container">
    <div class="row">
        <div class="col col-md-12">
            <h3 class="text-center">Contacts Management application</h3>
            <p class="text-center">To use application register below</p>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-8 col-centered">
            <p class="text-center">All the below fields are mandatory</p>
            <p class="text-center" data-ng-class="{'text-danger': status.error, 'text-success': status.success}" data-ng-if="status.error || status.success">{{status.message}}</p>
            <form class="form-horizontal" role="form" name="registerForm" no-validate>
                <div class="form-group">
                    <label class="control-label col-sm-3">Full Name</label>
                    <div class="col col-sm-7">
                        <input class="form-control" type="text" placeholder="Full Name" data-ng-model="user.fullName" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Email</label>
                    <div class="col col-sm-7">
                        <input class="form-control" type="email" placeholder="Email" data-ng-model="user.email" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Password</label>
                    <div class="col col-sm-7">
                        <input class="form-control" type="password" placeholder="Password" data-ng-model="user.password" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Mobile</label>
                    <div class="col col-sm-7">
                        <input class="form-control" type="text" placeholder="mobile" data-ng-model="user.mobile" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-10">
                        <button type="submit" class="btn btn-primary" data-ng-click="register()" data-ng-disabled="registerForm.$invalid">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-6 col-centered">
            <p class="text-center">Already a member? <a href="#/">Login</a></p>
        </div>
    </div>
</div>